
{{#partial "content"}}
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h1>Success!</h1>

            The Hero has been saved.

            <a href="/heros">Go Back</a>
        </div>
    </div>
{{/partial}}

{{> layout.hbs}}