{{#partial "content"}}
    <div class="container mt-5 mb-5">
        <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
                <h4 class="my-0 fw-normal">Add New Hero</h4>
            </div>
            <div class="card-body">
                <form action="/newHero" method="post">
                    <div class="form-group mt-3">
                        <p class="card-text">Fill in the following form to add a new hero</p>
                        <label for="name">Squad Name</label>
                        <input id="name" name="name" class="form-control" type="text">
                    </div>
                    <div class="form-group mt-3">
                        <label for="age">Age</label>
                        <input id="age" name="age" class="form-control" type="number">
                    </div>
                    <div class="form-group mt-3">
                        <label for="specialPowers">Special Powers</label>
                        <input id="specialPowers" name="specialPoeers" class="form-control" type="text">
                    </div>
                    <div class="form-group mt-3">
                        <label for="weakness">Weakness</label>
                        <input id="weakness" name="weakness" class="form-control" type="text">
                    </div>
                    <div class="form-group mt-3">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Save Hero</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{{/partial}}
{{> layout.hbs}}