{{#partial "content"}}
    <div class="container col-xxl-8 px-4 py-2">
        <div class="row flex-lg-row-reverse align-items-center g-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="/images/pngegg.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Responsive left-aligned hero with image</h1>
                <p class="lead">Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Primary</button>
                    <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <form action="/squads" method="post">
            <div class="form-group">
                <label for="name">Squad Name</label>
                <input id="name" name="name" class="form-control" type="text">
            </div>
            <div class="form-group">
                <label for="maxSize">Maximum Size</label>
                <input id="maxSize" name="maxSize" class="form-control" type="number">
            </div>
            <div class="form-group">
                <label for="fightingCause">Fighting Cause</label>
                <input id="fightingCause" name="fightingCause" class="form-control" type="text">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
            </div>
        </form>

        <h1>Squad list!</h1>

        {{#if squads}} <!--if posts exist, then -->
            {{#each squads }} <!--loop-->
                <p> {{maxSize}}</p>
                <p> {{name}}</p>
                <p> {{fightingCause}}</p>
            {{/each}}
        {{else}} <!--no posts!-->
            <p>No posts!</p>
        {{/if}}
    </div>
{{/partial}}
{{> layout.hbs}}