{{#partial "content"}}
    <div class="container pt-5 pb-5 mt-5">
    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
        <div class="col">
            <div class="card mb-5 rounded-4 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Hero Details Required</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Name</li>
                        <li>Age</li>
                        <li>Special Powers</li>
                        <li>Weakness</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-5 rounded-4 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Squad Details Required</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Name</li>
                        <li>Max number of Heros required</li>
                        <li>Fighting Cause</li>
                        <li>Help center access</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-5 rounded-4 shadow-sm">
                <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Hero Squad Details</h4>
                </div>
                <div class="card-body">
                    <ul class="list-unstyled mt-3 mb-4">
                        <li>Hero</li>
                        <p>+</p>
                        <li>Squad</li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    </div>

{{/partial}}
{{> layout.hbs}}