{{#partial "content"}}
    <div class="container">
    <div class="alert alert-success" role="alert">
    <h1>Success!</h1>

    Your blog post has been saved.

    <a href="/squads">Go Back</a>
    </div>
    </div>
{{/partial}}

{{> layout.hbs}}